body {
    background-color: #47291D;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3 {
    color: #030309;
    text-align: center;
}
#container {
    background-color: #C6BFAF;
    width: 90%;
    margin: 20px auto;
    border: 4px solid #C6BFAF;
}

nav {
    background-color: #1c9e97;
    padding: 1px 0;
   text-align: center;
}

nav ul {
    padding: 0%;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: #583828;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: floralwhite;
    text-decoration: none;
    border: 2px ridge #C6BFAF;
    border-radius: 10px;
    margin: 2px 10px;
}

nav li a:hover {
    background-color: #D9BF41;
    color: #583828;
    border: 2px ridge #C6BFAF
}

main {
    display: flex;
}

section,
aside {
    border: 6px ridge #D9BF41;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

section {
    width: 80%;
}

aside {
    width: 20%;
}

.single_page {
    width: 100%;
}

#main_img_resize {
    width: 90%;
}

#lower_area {
    display: flex;
}

.column {
    border: 6px ridge #D9BF41;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: #1c9e97;
    text-align: center;
    padding: 10px 0;
    color: #583828;
    font-weight: bold;
}

.button {
    display: block;
    background-color: #583828;
    width: 200px;
    height: 20px;
    color: floralwhite;
    text-decoration: #C6BFAF;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px ridge #C6BFAF;
    border-radius: 10px;
}

.button:hover {
    background-color: #D9BF41;
    color: #583828;
    border: 2px ridge #C6BFAF
}

table {
    border: 6px solid #030309;
}

td, tr {
    border: 6px double #030309;
    padding: 3px;
    margin: 10px;
}